.container {
  max-width: 500px;
  margin: auto;
  padding: 5px;
}

.input-container {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.task-input {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.add-task-button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-filter-buttons {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.filter-button {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-completed {
  text-decoration: line-through;
}

.delete-task-button {
  color: red;
  cursor: pointer;
}